<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">

<head>
    <!-- 추가된 라이브러리 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI/tZ1iU5A6vjM6EXA9js9HAdw1l9hBzh1P3cEE="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css"
          integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"
            integrity="sha512-dSI4QnNeaXiNEjX2N8bkb16B7aMu/8SI5/rE6NIa3Hr/HnWUO+EAZpizN2JQJrXuvU7z0HTgpBVk/sfGd0oW+w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }

        .badge-info, .badge-secondary {
            color: #000;
        }
    </style>
</th:block>
<div layout:fragment="content">

    <!-- Hotel Details area Starts -->
    <section class="hotel-details-area section-bg-2 pat-50 pab-100">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-12 col-lg-12">
                    <div class="details-left-wrapper">
                        <div class="details-contents bg-white radius-10">
                            <div class="row details-contents-header">
                                <div class="col-7">
                                    <div th:each="img, i : ${accommodationImgDTOS}">
                                        <div th:if="${i.index == 0}"
                                             class="details-contents-header-thumb">
                                            <img th:src="|/imgtest/${img.imgFile}|" th:alt="${img.imgFile}"
                                                 width="816px" height="356px"/>
                                            <a th:href="|/imgtest/${img.imgFile}|"
                                               class="more-photos gallery-popup-two"> <i class="las la-plus"></i> 더 많은
                                                이미지 보기 </a>
                                        </div>
                                        <div th:if="${i.index > 0}" style="display: none;">
                                            <a th:href="|/imgtest/${img.imgFile}|" class="gallery-popup-two"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <span class="hotel-view-contents-review"> <i class="las la-star"></i> [[${accommodation.grade}]] <span
                                            class="hotel-view-contents-review-count"> ([[${accommodation.reviewCount}]]) </span> </span>
                                    <h3 class="hotel-view-contents-title"> [[${accommodation.accommodationName}]] </h3>
                                    <span class="hotel-view-contents-location-icon"> <i
                                            class="las la-map-marker-alt"></i> </span>
                                    <span class="hotel-view-contents-location-para"> [[${accommodation.address}]]  </span>
                                    <p class="hotel-view-contents">[[${accommodation.intro}]]</p>

                                </div>
                            </div>
                            <div class="hotel-view-contents mat-25">
                                <div class="details-contents-tab">
                                    <ul class="tabs details-tab details-tab-border">
                                        <li class="active" data-tab="maps"> 지도</li>
                                        <li data-tab="about"> 숙소정보</li>
                                        <li data-tab="reviews"> 리뷰</li>
                                    </ul>

                                    <div id="maps" class="tab-content-item active">
                                        <div class="maps-tab-contents">
                                            <div class="hotel-view-contents-location mt-2">
                                        <span class="hotel-view-contents-location-icon"> <i
                                                class="las la-map-marker-alt"></i> </span>
                                                <span class="hotel-view-contents-location-para"> [[${accommodation.address}]]  </span>
                                            </div>
                                            <div id="map" style="max-width:1000px;height:400px;"></div>
                                            <script type="text/javascript"
                                                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=524ae0cfbaecff9b3b0e658301ce5f94&libraries=services,clusterer"></script>
                                            <script th:inline="javascript">
                                                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                                    mapOption = {
                                                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                                        level: 3 // 지도의 확대 레벨
                                                    };

                                                var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                                                // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                                                var mapTypeControl = new kakao.maps.MapTypeControl();

                                                // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
                                                // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
                                                map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                                                // 지도 확대 축소를 제어할 수 있는 줌 컨트롤을 생성합니다
                                                var zoomControl = new kakao.maps.ZoomControl();
                                                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

                                                var accommodationAddress = /*[[${accommodation.address}]]*/ "";
                                                var accommodationName = /*[[${accommodation.accommodationName}]]*/ "";

                                                var geocoder = new kakao.maps.services.Geocoder();

                                                geocoder.addressSearch(accommodationAddress, function (result, status) {

                                                    // 정상적으로 검색이 완료됐으면
                                                    if (status === kakao.maps.services.Status.OK) {

                                                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                                        // 결과값으로 받은 위치를 마커로 표시합니다
                                                        var marker = new kakao.maps.Marker({
                                                            map: map,
                                                            position: coords
                                                        });

                                                        // 인포윈도우로 장소에 대한 설명을 표시합니다
                                                        var infowindow = new kakao.maps.InfoWindow({
                                                            content: '<div style="width:150px;text-align:center;padding:6px 0;">' + accommodationName + '</div>'
                                                        });
                                                        infowindow.open(map, marker);

                                                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                                                        map.setCenter(coords);
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>

                                    <div id="about" class="tab-content-item">
                                        <div class="about-tab-contents">
                                            <p th:utext="${accommodation.content}"/>
                                        </div>
                                    </div>

                                    <div id="reviews" class="tab-content-item">
                                        <div class="review-tab-contents">
                                            <div class="review-tab-contents-single">
                                                <span class="hotel-view-contents-review"> <i class="las la-star"></i> [[${accommodation.grade}]]</span>
                                                <span class="hotel-view-contents-review-count"> 총 [[${accommodation.reviewCount}]]건의 리뷰 </span>
                                            </div>
                                            <div th:each="dto : ${pageResultDTO.dtoList}"
                                                 th:if="dto != null" class="border-bottom">


                                                <div class="review-tab-contents-author mt-4">
                                                    <h4 class="review-tab-contents-author-name">
                                                        [[${dto.writerName}]] </h4>
                                                    <p class="review-tab-contents-author-para mt-2"> 객실
                                                        [[${dto.roomName}]]이용 </p>
                                                </div>
                                                <div class="rating-wrap">
                                                    <div class="ratings">
                                                        <span class="hide-rating"></span>
                                                        <span class="show-rating"></span>
                                                    </div>
                                                    <p><span class="total-ratings">[[${dto.grade}]]</span></p>
                                                </div>
                                                <div th:each="imgEntry : ${reviewBoardImgMap.entrySet()}"
                                                     th:if="${imgEntry.key == dto.rbno}">
                                                    <div th:each="img, iterStat : ${imgEntry.value}"
                                                         th:if="${img != null and img.imgFile != null}">
                                                        <div th:if="${iterStat.index == 0}">
                                                            <div th:id="'gallery-' + ${dto.rbno}">
                                                                <a th:href="|/imgtest/${img.imgFile}|">
                                                                    <img th:src="|/imgtest/${img.imgFile}|"
                                                                         class="img-fluid"
                                                                         style="width:150px; height: auto;"/>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div th:if="${iterStat.index > 0}">
                                                            <a href="#" th:href="|/imgtest/${img.imgFile}|"
                                                               th:attr="data-gallery-id='gallery-' + ${dto.rbno}"
                                                               style="display: none;"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="about-review-para mt-3" th:utext="${dto.content}"/></br>

                                                <!-- 답글 작성 폼 -->
                                                <div th:if="${#authentication != null}">
                                                    <form th:attr="id='replyForm-' + ${dto.rbno}" class="replyForm" th:data-rbno="${dto.rbno}">
                                                        <div class="form-group">
                                                            <textarea name="content" class="form-control" placeholder="답글을 작성해주세요"></textarea>
                                                        </div>
                                                        <script th:inline="javascript">
                                                            function createReviewReply(form) {
                                                                const rbno = $(form).attr('th:data-rbno');
                                                                const content = $('textarea[name="content"]', form).val();

                                                                console.log(rbno);
                                                                console.log(content);

                                                                // 서버로 Ajax 요청 보내기
                                                                $.ajax({
                                                                    type: 'POST',
                                                                    url: '/product/review-reply/create',
                                                                    contentType: 'application/json',
                                                                    data: JSON.stringify({rbno: rbno, content: content}),
                                                                    success: function (data) {
                                                                        // 서버 응답에 따른 처리
                                                                        if (data.success) {
                                                                            // 새로운 답글을 목록에 추가
                                                                            const newReply = `<div class="border-bottom"><p>${content}</p></div>`;
                                                                            $('#repliesContainer').append(newReply);
                                                                            console.log(data);

                                                                            // 성공 메시지 등의 처리
                                                                            alert('답글이 성공적으로 작성되었습니다.');
                                                                        } else {
                                                                            // 실패한 경우에 대한 처리
                                                                            alert('답글 작성에 실패했습니다.');
                                                                        }
                                                                    },
                                                                    error: function (error) {
                                                                        console.error('Error creating review reply:', error);
                                                                    }
                                                                });
                                                            }
                                                        </script>
                                                        <button type="button" onclick="createReviewReply(this.form)">Create Reply</button>
                                                    </form>
                                                </div>




                                                <!-- 답글 목록 -->
                                                <div id="repliesContainer-${dto.rbno}" class="repliesContainer">
                                                    <div th:each="reply : ${dto.replies}" class="border-bottom">
                                                        <h5 th:value=" ${dto.rbno}"></h5>
                                                        <div class="review-tab-contents-author mt-4">
                                                            <h4 class="review-tab-contents-author-name" th:text="${reply.replyer}"></h4>
                                                        </div>
                                                        <p class="about-review-para mt-3" th:utext="${reply.content}"></p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="review-tab-contents-single"
                                                 th:each="dto : ${pageResultDTO.dtoList}"
                                                 th:if="dto == null">
                                                등록된 리뷰가 없습니다.
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col">
                                                    <div class="pagination-wrapper">
                                                        <ul class="pagination-list list-style-none">
                                                            <!-- 'Previous' 버튼 수정 -->
                                                            <li th:class="${pageResultDTO.prev} ? 'pagination-list-item-prev' : 'pagination-list-item-prev disabled'">
                                                                <a th:href="@{/product/{ano}(ano=${accommodation.ano}, page=${pageResultDTO.page - 1})}"
                                                                   class="pagination-list-item-button"> Prev </a>
                                                            </li>

                                                            <!-- 페이지네이션 시작 페이지 및 끝 페이지 계산 -->
                                                            <th:block
                                                                    th:with="startPage=${pageResultDTO.page - 5}, endPage=${pageResultDTO.page + 5}">

                                                                <!-- 시작 페이지부터 끝 페이지까지 페이지 목록 생성 -->
                                                                <li th:each="page: ${#numbers.sequence(1, pageResultDTO.totalPage)}"
                                                                    th:if="${page >= startPage and page <= endPage}"
                                                                    th:class="${pageResultDTO.page == page} ? 'pagination-list-item active' : 'pagination-list-item'">
                                                                    <a th:href="@{/product/{ano}(ano=${accommodation.ano}, page=${page})}"
                                                                       th:onclick="'changePage(' + ${page} + ')'"
                                                                       class="pagination-list-item-link">
                                                                        [[${page}]] </a>
                                                                </li>

                                                            </th:block>

                                                            <!-- 'Next' 버튼 수정 -->
                                                            <li th:class="${pageResultDTO.next} ? 'pagination-list-item-next' : 'pagination-list-item-next disabled'">
                                                                <a th:href="@{/product/{ano}(ano=${accommodation.ano}, page=${pageResultDTO.page + 1})}"
                                                                   class="pagination-list-item-button disabled">
                                                                    Next </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hotel-view bg-white radius-20 mt-4">
                            <div class="row-cols-md-4" style="margin-left: 20px;">
                                <form id="daterange" onsubmit="disableDaterangeInput()"
                                      class="single-shop-left-inner mt-4">
                                    <input type="hidden" name="startDate" th:value="${date.startDate}"/>
                                    <input type="hidden" name="endDate" th:value="${date.endDate}"/>
                                    <ul class="single-shop-left-list active-list list-style-none">
                                        <li class="item-search">
                                            <input type="text" class="form--control" name="daterange"/>
                                            <div class="item-search-icon">
                                                <button id="submitBtn" type="submit" class="btn"><i
                                                        class="las la-search"></i></button>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <div class="hotel-view-flex" th:each="dto : ${R_list}">
                                <!-- 이미지 표시 부분 수정 -->
                                <div th:if="${not #lists.isEmpty(dto[0].imgFiles)}">
                                    <img th:src="@{'/imgtest/' + ${dto[0].imgFiles[0]}}" th:alt="'Room Image'" th:width="280px" th:height="150px"/>
                                </div>
                                <div th:if="${#lists.isEmpty(dto[0].imgFiles)}">No Image</div>

                                <div class="hotel-view-contents">
                                    <div class="hotel-view-contents-header">
                                        <div class="hotel-view-contents-header-flex d-flex flex-wrap gap-3 align-items-center justify-content-between">
                                            <h3 class="hotel-view-contents-title">
                                                [[${dto[0].roomName}]]
                                            </h3>
                                            <div class="btn-wrapper" th:if="${dto[2] == null}">
                                                <a th:href="@{/reservation/register(rno=${dto[0].rno},startDate=${date.startDate},endDate=${date.endDate})}"
                                                   class="cmn-btn btn-bg-1 btn-small"> 예약하기 </a>
                                            </div>
                                            <div class="cmn-btn btn-wrapper" th:if="${dto[2] != null}">
                                                <div class="btn btn-danger">예약불가</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-view-contents-middle">
                                        <div class="hotel-view-contents-flex">
                                            <a href="#" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#roomModal' + ${dto[0].rno}">
                                                <p>객실 정보보기</p>
                                            </a>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal" tabindex="-1" th:id="'roomModal' + ${dto[0].rno}"
                                             th:attr="aria-labelledby='#roomModal' + ${dto[0].rno}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">객실 정보</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p th:utext="${dto[0].content}"/>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            닫기
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal END -->
                                    </div>
                                    <div class="hotel-view-contents-bottom">
                                        <div class="hotel-view-contents-bottom-flex">
                                            <div class="hotel-view-contents-bottom-contents d-flex flex-wrap gap-4">
                                                <h4 class="hotel-view-contents-bottom-title">
                                                    [[${dto[0].price}]]원<sub>/1박</sub>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hotel Details area end -->

    <script>
        $(function () {
            let startDate = $('input[name="startDate"]').val();
            let endDate = $('input[name="endDate"]').val();

            // Check if the dates are valid
            if (!moment(startDate, 'YYYY-MM-DD', true).isValid()) {
                startDate = moment().format('YYYY-MM-DD');
            }
            if (!moment(endDate, 'YYYY-MM-DD', true).isValid()) {
                endDate = moment().add(1, 'days').format('YYYY-MM-DD');
            }

            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                startDate: moment(startDate, 'YYYY-MM-DD'),
                endDate: moment(endDate, 'YYYY-MM-DD')
            }, function (start, end, label) {
                startDate = start.format('YYYY-MM-DD');
                endDate = end.format('YYYY-MM-DD');

                $('input[name="startDate"]').val(startDate);
                $('input[name="endDate"]').val(endDate);
            });
        });

        function disableDaterangeInput() {
            $('input[name="daterange"]').prop('disabled', true);
        }
    </script>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const galleryElements = document.querySelectorAll("[id^='gallery-']");

            galleryElements.forEach(function (element) {
                const galleryId = element.id;
                const hiddenLinks = document.querySelectorAll(`[data-gallery-id='${galleryId}']`);

                hiddenLinks.forEach(function (link) {
                    element.appendChild(link.cloneNode(true));
                });

                lightGallery(element, {
                    selector: "a"
                });
            });
        });

        // 이미지 갤러리 초기화 함수
        function initializeGallery() {
            const galleryElements = document.querySelectorAll("[id^='gallery-']");

            galleryElements.forEach(function (element) {
                const galleryId = element.id;
                const hiddenLinks = document.querySelectorAll(`[data-gallery-id='${galleryId}']`);

                hiddenLinks.forEach(function (link) {
                    element.appendChild(link.cloneNode(true));
                });

                lightGallery(element, {
                    selector: "a"
                });
            });
        }


    </script>

</div>