<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>방 목록 보기</title>
</head>
<body>

<div layout:fragment="content">
    <!--<img  th:src="${'/imgtest/rw.png'}">-->

    <th:block>
        <th:block th:each="img : ${imgs}">
            <br>
            <img th:height="200" th:src=" '/imgtest/' + ${img.Imgfile}" th:width="300">
            <br>
        </th:block>

        <th:block>
            <h5 th:text="'방 이름 : ' + ${dto.room_name}"></h5>
            <h5 th:text="'방 가격 : ' + ${dto.price}"></h5>
            <h5 th:text="'방 체크인 정보 : ' + ${dto.check_in_time}"></h5>
            <h5 th:text="'방 체크아웃 정보 : ' + ${dto.check_out_time}"></h5>
            <a th:href="@{/room/update(rno=${dto.rno})}">수정하기</a>
            <a th:href="@{/room/delete(rno=${dto.rno})}">삭제하기</a>
            <br>
        </th:block>


    </th:block>

    <th:block>
        <th:block th:each="option : ${options}">
            <h5 th:text="'옵션 이름 : ' + ${option.option_name}"></h5>
            <h5 th:text="'옵션 가격 : ' + ${option.option_price}"></h5>
            <a th:href="@{/option/delete(ono=${option.ono} ,rno=${dto.rno})}">삭제하기</a>
            <br>
        </th:block>

    </th:block>
</div>
</body>
</html>