<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .button-container button {
            margin: 0 10px;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function () {
            var errorMessage = [[${errorMessage}]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });
    </script>

</th:block>

<div layout:fragment="content">

    <div class="dashboard-area section-bg-2 pat-100 pab-100">
        <div class="container">
            <div class="dashboard-contents-wrapper">
                <div class="dashboard-icon">
                    <div class="sidebar-icon">
                        <i class="las la-bars"></i>
                    </div>
                </div>

                <!-- 대시보드 왼쪽 메뉴 -->
                <div class="dashboard-left-content">
                    <div class="dashboard-close-main">
                        <div class="close-bars"><i class="las la-times"></i></div>
                        <div class="dashboard-bottom">
                            <ul class="dashboard-list list-style-none">
                                <li class="list">
                                    <a href="/member/point"> <i class="las la-briefcase"></i> 포인트 </a>
                                </li>
                                <li class="list active">
                                    <a href="/reservation/list"> <i class="las la-briefcase"></i> 예약현황 </a>
                                </li>
                                <li class="list has-children">
                                    <a href="javascript:void(0)"> <i class="las la-user-circle"></i> 프로필 </a>
                                    <ul class="submenu list-style-none">
                                        <li class="list"><a href="/member/mypage"> 프로필 </a></li>
                                        <li class="list"><a href="/member/update"> 프로필 수정 </a></li>
                                        <li class="list"><a href="/member/changepw"> 비밀번호 변경 </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- 대시보드 오른쪽 메뉴 -->
                <div class="dashboard-right-contents mt-4 mt-lg-0">
                    <div class="dashboard-reservation">
                        <div class="single-reservation bg-white base-padding show open">
                            <ul class="tabs details-tab details-tab-border">
                                <li class="active" data-tab="prev"> 이용전</li>
                                <li data-tab="end"> 이용완료</li>
                                <li data-tab="cancel"> 취소됨</li>
                            </ul>
                        </div>

                        <!-- 이용전 탭 -->
                        <div id="prev" class="tab-content-item active">
                            <th:block th:each="rv, iterStat : ${reservations}">
                                <th:block th:with="acc=${accommodationList[iterStat.index]}">
                                <th:block th:if="${rv.status == T(com.connectravel.constant.ReservationStatus).ACTIVE}">
                                    <div class="single-reservation bg-white base-padding show open mat-25">
                                        <div class="row" th:if="${rv.startDate} > ${today}">
                                            <div class="single-reservation-expandIcon"><i
                                                    class="las la-angle-down"></i>
                                            </div>
                                            <div class="single-reservation-head">
                                                <div class="single-reservation-flex">
                                                    <div class="single-reservation-content">
                                                        <h5 class="single-reservation-content-title"> 예약번호 </h5>
                                                        <span class="single-reservation-content-id"> #[[${rv.rvno}]] </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-reservation-inner">
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-name">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="single-reservation-name">
                                                                    <h5 class="single-reservation-name-title">
                                                                        [[${acc.accommodationName}]] </h5>
                                                                    <p class="single-reservation-name-para">
                                                                        ([[${acc.postal}]]) [[${acc.address}]] </p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-details">
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 체크인 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.startDate}]] </h5>
                                                        </div>
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 체크아웃 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.endDate}]]</h5>
                                                        </div>
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 방이름 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.roomDTO.roomName}]] </h5>
                                                        </div>
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 예약날짜 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${#temporals.format(rv.regTime, 'yyyy-MM-dd')}]] </h5>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-flex">
                                                        <div class="single-reservation-content">
                                                            <h5 class="single-reservation-content-title"> 요청사항 </h5>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.message}]] </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-flex">
                                                        <div class="single-reservation-content">
                                                            <h5 class="single-reservation-content-title"> 총 비용 </h5>
                                                            <span class="single-reservation-content-price"> [[${rv.money}]]원 </span>
                                                        </div>
                                                        <div class="single-reservation-btn">
                                                            <form style="display: inline"
                                                                  th:action="@{/reservation/cancel}"
                                                                  method="get" onsubmit="return showConfirmation()">
                                                                <input type="hidden" name="rvno"
                                                                       th:value="${rv.rvno}">
                                                                <button type="submit" class="btn btn-danger">
                                                                    <i class="las la-exclamation-circle"></i>취소하기
                                                                </button>
                                                            </form>
                                                            <script>
                                                                function showConfirmation() {
                                                                    if (confirm("취소하시겠습니까?")) {
                                                                        return true;
                                                                    } else {
                                                                        return false;
                                                                    }
                                                                }
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                </th:block>
                            </th:block>
                        </div>

                        <!-- 이용완료 탭 -->
                        <div id="end" class="tab-content-item">
                            <th:block th:each="rv, iterStat : ${reservations}">
                                <th:block th:with="acc=${accommodationList[iterStat.index]}">
                                <th:block th:if="${rv.status == T(com.connectravel.constant.ReservationStatus).COMPLETED}">
                                    <div class="single-reservation bg-white base-padding show open mat-25">
                                        <div class="row">
                                            <div class="single-reservation-expandIcon"><i
                                                    class="las la-angle-down"></i>
                                            </div>
                                            <div class="single-reservation-head">
                                                <div class="single-reservation-flex">
                                                    <div class="single-reservation-content">
                                                        <h5 class="single-reservation-content-title"> 예약번호 </h5>
                                                        <span class="single-reservation-content-id"> #[[${rv.rvno}]] </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-reservation-inner">
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-name">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="single-reservation-name">
                                                                    <h5 class="single-reservation-name-title">
                                                                        [[${acc.accommodationName}]] </h5>
                                                                    <p class="single-reservation-name-para">
                                                                        ([[${acc.postal}]]) [[${acc.address}]] </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-details">
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 체크인 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.startDate}]] </h5>
                                                        </div>
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 체크아웃 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.endDate}]]</h5>
                                                        </div>
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 방이름 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.roomDTO.roomName}]] </h5>
                                                        </div>
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 예약날짜 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${#temporals.format(rv.regTime, 'yyyy-MM-dd')}]] </h5>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-flex">
                                                        <div class="single-reservation-content">
                                                            <h5 class="single-reservation-content-title"> 요청사항 </h5>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.message}]] </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-flex">
                                                        <div class="single-reservation-content">
                                                            <h5 class="single-reservation-content-title"> 총 비용 </h5>
                                                            <span class="single-reservation-content-price"> [[${rv.money}]]원 </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                </th:block>
                            </th:block>
                        </div>

                        <!-- 취소됨 탭 -->
                        <div id="cancel" class="tab-content-item">
                            <th:block th:each="rv, iterStat : ${reservations}">
                                <th:block th:with="acc=${accommodationList[iterStat.index]}">
                                <th:block th:if="${rv.status == T(com.connectravel.constant.ReservationStatus).CANCELLED}">
                                    <div class="single-reservation bg-white base-padding show open mat-25">
                                        <div class="row">
                                            <div class="single-reservation-expandIcon"><i
                                                    class="las la-angle-down"></i>
                                            </div>
                                            <div class="single-reservation-head">
                                                <div class="single-reservation-flex">
                                                    <div class="single-reservation-content">
                                                        <h5 class="single-reservation-content-title"> 예약번호 </h5>
                                                        <span class="single-reservation-content-id"> #[[${rv.rvno}]] </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-reservation-inner">
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-name">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="single-reservation-name">
                                                                    <h5 class="single-reservation-name-title">
                                                                        [[${acc.accommodationName}]] </h5>
                                                                    <p class="single-reservation-name-para">
                                                                        ([[${acc.postal}]])
                                                                        [[${acc.address}]] </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-details">
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 체크인 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.startDate}]] </h5>
                                                        </div>
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 체크아웃 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.endDate}]]</h5>
                                                        </div>
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 방이름 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${rv.roomDTO.roomName}]] </h5>
                                                        </div>
                                                        <div class="single-reservation-details-item">
                                                            <span class="single-reservation-details-subtitle"> 예약날짜 </span>
                                                            <h5 class="single-reservation-details-title">
                                                                [[${#temporals.format(rv.regTime, 'yyyy-MM-dd')}]] </h5>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="single-reservation-item">
                                                    <div class="single-reservation-flex">
                                                        <div class="single-reservation-content">
                                                            <h5 class="single-reservation-content-title"> 총 비용 </h5>
                                                            <span class="single-reservation-content-price"> [[${rv.money}]]원 </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard area end -->
</div>
</html>