/* Confirmation Css */

.confirmation-area {
}

.confirmation-contents {
  max-width: 650px;
  margin: auto;
  padding: 40px 30px;
  background-color: $white;

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: var(--main-color-one);
    color: $white;
    border-radius: 50%;
    font-size: 40px;
    margin: 0 auto 25px;
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: -4px 0 0;
  }

  &-para {
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;

    a {
      color: var(--main-color-one);
      font-weight: 500;
    }
  }
}