/* Team Css */

.team-area {}

.single-team {
    &-thumb {
        position: relative;
        img {
            height: 100%;
            width: 100%;
            mask-image: url(../img/single-page/team-mask.png);
            -webkit-mask-image: url(../img/single-page/team-mask.png);
            mask-mode: alpha;
            -webkit-mask-mode: alpha;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-position: center top;
            mask-position: center top;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }
    }
    &-contents {
        margin-top: 20px;
        &-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
        }
        &-subtitle {}
    }
}