<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">

    <script type="text/javascript">

        function goToLoginPage() {
            localStorage.setItem('prevPage', window.location.href);
            window.location.href = "/member/login";
        }
        // 헤더에서 토큰 정보를 가져와서 HTTP 요청 헤더에 추가하는 함수
        function getHeaders() {
            var headers = new Headers();
            headers.append('Content-Type', 'application/json');
            var token = localStorage.getItem('token');
            if (token) {
                headers.append('Authorization', 'Bearer ' + token);
            }
            return headers;
        }

        //인증이 필요한 요청을 보내는 함수
        function authenticatedRequest() {
            fetch('/', {
                method: 'GET',
                headers: getHeaders()
            }).then(function(response) {
                if (response.ok) {
                    console.log("인증 성공");
                } else {
                    console.log("인증 실패");
                }
            });
        }

        // 로그아웃 시 토큰을 제거합니다.
        function logout() {
            localStorage.removeItem('token');
            location.href = "/logout";
        }

        authenticatedRequest(); // 인증이 필요한 요청함수 바로 보내기
    </script>

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/seller/dashboard">판매관리페이지</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/">메인으로</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" onclick="logout()">로그아웃</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>