<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar" th:fragment="sidebar">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Main</div>
                    <a class="nav-link" href="/seller/dashboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">SETTING</div>
                    <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed" data-bs-target="#collapseLayouts"
                       data-bs-toggle="collapse" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        숙박 관리
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
                         id="collapseLayouts">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/seller/accommodation/read">숙박 정보 보기</a>
                            <a class="nav-link" href="/seller/accommodation/update">숙박 정보 수정</a>
                        </nav>
                    </div>
                    <a class="nav-link" href="/seller/room/list">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        방 목록 관리
                    </a>
                    <a aria-controls="collapseLayouts1" aria-expanded="false" class="nav-link collapsed" data-bs-target="#collapseLayouts1"
                       data-bs-toggle="collapse" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        매출 현황
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
                         id="collapseLayouts1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/seller/room/sales">매출 현황</a>
                            <a class="nav-link" href="/seller/room/reservation">예약자 목록</a>
                        </nav>
                    </div>
                    <div aria-labelledby="headingTwo" class="collapse" data-bs-parent="#sidenavAccordion"
                         id="collapsePages">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a aria-controls="pagesCollapseAuth" aria-expanded="false" class="nav-link collapsed"
                               data-bs-target="#pagesCollapseAuth" data-bs-toggle="collapse"
                               href="#">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordionPages"
                                 id="pagesCollapseAuth">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/">메인으로</a>
                                    <a class="nav-link" href="/member/logout">로그아웃</a>
                                </nav>
                            </div>
                            <a aria-controls="pagesCollapseError" aria-expanded="false" class="nav-link collapsed"
                               data-bs-target="#pagesCollapseError" data-bs-toggle="collapse"
                               href="#">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordionPages"
                                 id="pagesCollapseError">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
</html>