<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .fieldError {
      color: #bd2130;
    }
  </style>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .button-container button {
      margin: 0 10px;
    }
  </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">
    $(document).ready(function () {
      var errorMessage = [[${errorMessage}]];
      if (errorMessage != null) {
        alert(errorMessage);
      }
    });
  </script>

</th:block>

<div layout:fragment="content">

  <div class="dashboard-area section-bg-2 pat-100 pab-100">
    <div class="container">
      <div class="dashboard-contents-wrapper">
        <div class="dashboard-icon">
          <div class="sidebar-icon">
            <i class="las la-bars"></i>
          </div>
        </div>
        <div class="dashboard-left-content">
          <div class="dashboard-close-main">
            <div class="close-bars"> <i class="las la-times"></i> </div>
            <div class="dashboard-bottom">
              <ul class="dashboard-list list-style-none">
                <li class="list active">
                  <a href="/member/point"> <i class="las la-briefcase"></i> 포인트 </a>
                </li>
                <li class="list">
                  <a href="/reservation/list"> <i class="las la-briefcase"></i> 예약현황 </a>
                </li>
                <li class="list has-children">
                  <a href="javascript:void(0)"> <i class="las la-user-circle"></i> 프로필 </a>
                  <ul class="submenu list-style-none">
                    <li class="list"> <a href="/member/memberinfo"> 프로필 </a> </li>
                    <li class="list"> <a href="/member/update"> 프로필 수정  </a> </li>
                    <li class="list"> <a href="/member/changepw"> 비밀번호 변경  </a> </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="dashboard-right-contents mt-4 mt-lg-0">
          <div class="dashboard-reservation">
            <div class="single-reservation bg-white base-padding">
              <div class="single-reservation-flex mb-4">
                <div class="single-reservation-author">
                  <div class="single-reservation-author-flex">
                    <div class="single-reservation-author-contents">
                      <h5 class="single-reservation-author-contents-title"> [[${memberInfo.name}]]님의 현재포인트 </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-reservation-item">
                <div class="single-reservation-contact">
                  <div class="single-reservation-contact-item">
                    <span class="single-reservation-contact-list"> <span> <i class="las la-icons"></i> </span> [[${memberInfo.point}]]점 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Dashboard area end -->

</div>

</html>