<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentsAdmin/layout}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function () {
            var errorMessage = [[${errorMessage}]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });
    </script>

</th:block>

<div layout:fragment="content">

    <div class="card" style="max-width: 450px; margin: 0 auto; margin-top: 75px; padding: 30px;">
        <div class="card-body">
            <form action="/member/seller" role="form" method="post">
                <div class="form-group">
                    <p th:text="${errorMessage}" th:if="${errorMessage}"></p>
                </div>
                <p> 숙박 업소 등록 전에 전화번호 인증이 필요합니다.</p>
                <div class="form-group">
                    <label th:for="email">이메일 주소</label>
                    <input th:if="${memberDTO.email}" type="email" class="form-control" th:value="${memberDTO.email}" th:readonly="${true}" name="email" />
                </div>
                <div class="form-group">
                    <label th:for="username">이름</label>
                    <input type="text" name="username" class="form-control" placeholder="이름을 입력 해주세요" required>
                </div>
                <div class="form-group">
                    <label th:for="tel">전화번호</label>
                    <div style="display: flex;">
                        <input type="tel" th:value="*{memberDTO.tel1}" name="tel1" class="form-control" maxlength="3" required style="flex: 1;">&nbsp;&nbsp;
                        <input type="tel" th:value="*{memberDTO.tel2}" name="tel2" class="form-control" maxlength="4" required style="flex: 1;">&nbsp;&nbsp;
                        <input type="tel" th:value="*{memberDTO.tel3}" name="tel3" class="form-control" maxlength="4" required style="flex: 1;">
                    </div>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <button type="submit" class="btn btn-dark">
                        등록
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>

</html>