//== Template Main Color
$white: #fff;
$danger: #dc3545;
$black: #000;
$Gray: #F2F3F5;
$gray: #F2F3F5;
$color-yellow: #FFBA5C;
$STEAM: #DDD;
$steam-color: #DDD;
$color-light: #666;
$color-extra-light: #999;
$section-bg-1: #f5f5f5;
$section-bg-2: #ebebeb;
$bg-item-one: #F2F3F5;
$bg-item-two: #E9F6FF;
$bg-item-three: #FFECF0;
$bg-item-four: #FFF8F0;
$bg-item-five: #F7F7F6;
$bg-item-badge: #F7F7F6;
$bg-color-one: #FF6B7F;
$bg-color-two: #3AB8EB;
$bg-color-three: #00C275;
$bg-color-four: #7B61FF;
$body-bg-1: #F1F3F4;
$body-bg-2: #FFFAF5;
$body-bg-3: #1B1C25;
$footer-bg: #010104;
$footer-bg-2: #22232F;
$footer-bg-3: #F7F7F6;
$topbar-bg-1: #040B25;
$main-color-one: #F04751;
$main-color-two: #FF805D;
$main-color-three: #FF805D;
$main-color-four: #FF695C;
$secondary-color:#F7A3A8;
$review-color:#FABE50;
$stock-color:#5AB27E;
$bg-new:#3DC13C;
$bg-counter1:#3DC13C;
$bg-counter2:#00B67A;
$bg-counter3:#3AB8EB;
$bg-counter4:#F65D4F;
$bg-counter4:#F65D4F;
$order-cancel:#F13637;
$order-processing:#3AB8EB;
$order-delivered:#3DC13C;
$bg-counter4:#F65D4F;
$shop-color-1: #F83A26;
$shop-color-2: #30BB6F;
$shop-color-3: #AB47BC;
$shop-color-4: #FFC576;
$shop-color-5: #040B25;
$shop-color-6: #FF9800;
$shop-color-7: #FF695C;
$brand-color-1: #ED1C24;
$brand-color-2: #1B1B1B;
$brand-color-3: #F65B65;
$brand-color-4: #0088DD;
$brand-color-5: #FABE50;
$brand-color-6: #5AB27E;
//== social media colors
$facebook: #3b5999;
$twitter: #55acee;
$pintarest: #c40014;
$youtube: #ff1544;
$dribbble: #ea4c89;
$behance: #131418;
$google-plus: #dd4b39;
$linkedin: #326DE4;
$instagram: linear-gradient(to top, #fea038, #ff8841, #ff704e, #ff575f, #ff3e71, #fa3080, #f12690, #e523a0, #d12dac, #bb37b7, #a140bf, #8347c5);
//  transition
$transition: all 0.3s ease-in;
$transition-long: all 0.5s ease-in;