/*---------------------------------------
    ## Button
---------------------------------------*/

.btn-wrapper {
  display: block;

  .cmn-btn {
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--body-font);
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    line-height: 34px;
    padding: 7px 35px;
    white-space: nowrap;
    @include transition($transition);
    @include responsive(xs) {
      padding: 10px 25px;
      font-size: 15px;
      line-height: 28px;
    }
    @include responsive(vxxs) {
      padding: 5px 15px;
      font-size: 14px;
    }

    &.btn-bg-1 {
      background: var(--main-color-one);
      color: $white;
      border: 2px solid var(--main-color-one);

      &:hover {
        background: none;
        color: var(--main-color-one);
      }
    }

    &.btn-border {
      border: 1px solid #f1f1f1;

      &:hover {
        background-color: var(--main-color-one);
        color: $white;
        border-color: var(--main-color-one);
      }
    }

    &.btn-outline-1 {
      padding: 7px 35px;
      border: 2px solid var(--main-color-one);

      &.color-one {
        color: var(--main-color-one);
      }

      &:hover {
        background: var(--main-color-one);
        color: $white;
      }

      @include responsive(xs) {
        padding: 8px 23px;
        font-size: 15px;
        line-height: 28px;
      }
      @include responsive(vxxs) {
        padding: 4px 13px;
        font-size: 14px;
      }
    }

    &.btn-bg-white {
      background-color: $white;
      color: var(--heading-color);
      border: 2px solid $white;

      &:hover {
        background-color: var(--main-color-one);
        border-color: $white;
        color: $white;
        border-radius: 30px;
      }
    }

    &.btn-medium {
      padding: 7px 20px;
      @include responsive(vxxs) {
        padding: 5px 15px;
        font-size: 14px;
      }
    }

    &.btn-small {
      padding: 5px 15px;
      @include responsive(vxxs) {
        padding: 5px 12px;
        font-size: 14px;
      }
    }
  }
}

.center-text .flex-btn {
  justify-content: center;
}

.flex-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.btn-see-more {
  font-weight: 600;
  color: var(--heading-colors);
  font-size: 16px;

  &::after {
    @include lineAwesome("\f067");
    font-size: 18px;
  }
}