<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="footer-area footer-area-one footer-border-round footer-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-wrapper pat-100 pab-100">
                        <div class="footer-contents center-text">
                            <div class="footer-contents-logo">
                                <h3 class="footer-contents-logo-title text-white"><a href="/"> TODAYTONIGHT </a></h3>
                                <p class="footer-contents-logo-para mt-3"> (주) TODAYTONIGHT는 통신판매중개자로서 통신판매의 당사자가 아니며, 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.</p>
                            </div>
                            <div class="footer-widget widget">
                                <div class="footer-widget-nav mt-5">
                                    <ul class="footer-widget-nav-list list-style-none">
                                        <li class="footer-widget-nav-list-item">
                                            <a class="footer-widget-nav-list-link" href="javascript:void(0)"> 회사소개 </a>
                                        </li>
                                        <li class="footer-widget-nav-list-item">
                                            <a class="footer-widget-nav-list-link" href="javascript:void(0)"> 이용약관 </a>
                                        </li>
                                        <li class="footer-widget-nav-list-item">
                                            <a class="footer-widget-nav-list-link" href="javascript:void(0)"> 개인정보처리방침 </a>
                                        </li>
                                        <li class="footer-widget-nav-list-item">
                                            <a class="footer-widget-nav-list-link" href="javascript:void(0)"> 소비자 분쟁해결 기준 </a>
                                        </li>
                                        <li class="footer-widget-nav-list-item">
                                            <a class="footer-widget-nav-list-link" href="javascript:void(0)"> 사업자 정보확인 </a>
                                        </li>
                                        <li class="footer-widget-nav-list-item">
                                            <a class="footer-widget-nav-list-link" href="javascript:void(0)"> 컨텐츠산업진흥법에 의한 표시 </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area footer-padding copyright-bg-1">
            <div class="container">
                <div class="copyright-contents">
                    <div class="copyright-contents-flex">
                        <div class="copyright-contents-items">
                            <div class="copyright-contents-single">
                                <div class="copyright-contents-single-flex">
                                    <div class="copyright-contents-single-icon">
                                        <i class="las la-phone"></i>
                                    </div>
                                    <div class="copyright-contents-single-details">
                                        <span class="copyright-contents-single-details-title"> 고객센터 </span>
                                        <a class="copyright-contents-single-details-link" href="tel:3104372766"> 310-437-2766 </a>
                                    </div>
                                </div>
                            </div>
                            <div class="copyright-contents-single">
                                <div class="copyright-contents-single-flex">
                                    <div class="copyright-contents-single-icon">
                                        <i class="las la-envelope"></i>
                                    </div>
                                    <div class="copyright-contents-single-details">
                                        <span class="copyright-contents-single-details-title"> 전자우편주소 </span>
                                        <a class="copyright-contents-single-details-link" href="mailto:ezone@todaytonight.com"> ezone@todaytonight.com </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="copyright-contents-main"> © 2000-2023, All Rights Reserved by <a href="index.html"> TODAYTONIGHT </a> </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>