<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css"
          integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"
            integrity="sha512-dSI4QnNeaXiNEjX2N8bkb16B7aMu/8SI5/rE6NIa3Hr/HnWUO+EAZpizN2JQJrXuvU7z0HTgpBVk/sfGd0oW+w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }

        .badge-info, .badge-secondary {
            color: #000;
        }
    </style>
</th:block>
<div layout:fragment="content">

    <section class="hotel-details-area section-bg-2 pat-50 pab-100">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-12 col-lg-12">
                    <div class="details-left-wrapper">
                        <div class="details-contents bg-white radius-10">

                            <div class="hotel-view-contents mat-25">
                                <div class="details-contents-tab">
                                    <ul class="tabs details-tab details-tab-border">
                                        <li class="active" data-tab="maps"> 지도</li>
                                        <li data-tab="about"> 숙소정보</li>
                                        <li data-tab="reviews"> 리뷰</li>
                                    </ul>
                                    <div id="reviews" class="tab-content-item">
                                        <div class="review-tab-contents">
                                            <div class="review-tab-contents-single">
                                                <span class="hotel-view-contents-review"> <i class="las la-star"></i>1</span>
                                                <span class="hotel-view-contents-review-count"> 총2건의 리뷰 </span>
                                            </div>
                                            <div th:each="dto : ${pageResultDTO.dtoList}"
                                                 th:if="dto != null" class="border-bottom">


                                                <div class="review-tab-contents-author mt-4">
                                                    <h4 class="review-tab-contents-author-name">
                                                        [[${dto.writerName}]] </h4>
                                                    <p class="review-tab-contents-author-para mt-2"> 객실
                                                        [[${dto.roomName}]]이용 </p>
                                                </div>
                                                <div class="rating-wrap">
                                                    <div class="ratings">
                                                        <span class="hide-rating"></span>
                                                        <span class="show-rating"></span>
                                                    </div>
                                                    <p><span class="total-ratings">[[${dto.grade}]]</span></p>
                                                </div>
                                                <div th:each="imgEntry : ${reviewBoardImgMap.entrySet()}"
                                                     th:if="${imgEntry.key == dto.rbno}">
                                                    <div th:each="img, iterStat : ${imgEntry.value}"
                                                         th:if="${img != null and img.imgfile != null}">
                                                        <div th:if="${iterStat.index == 0}">
                                                            <div th:id="'gallery-' + ${dto.rbno}">
                                                                <a th:href="|/imgtest/${img.imgfile}|">
                                                                    <img th:src="|/imgtest/${img.imgfile}|"
                                                                         class="img-fluid"
                                                                         style="width:150px; height: auto;"/>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div th:if="${iterStat.index > 0}">
                                                            <a href="#" th:href="|/imgtest/${img.imgfile}|"
                                                               th:attr="data-gallery-id='gallery-' + ${dto.rbno}"
                                                               style="display: none;"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="about-review-para mt-3" th:utext="${dto.content}"/></br>
                                                <p class="about-review-para mt-3" th:utext="${dto.replies}"/></br>
                                            </div>
                                            <div class="review-tab-contents-single"
                                                 th:each="dto : ${pageResultDTO.dtoList}"
                                                 th:if="dto == null">
                                                등록된 리뷰가 없습니다.
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col">
                                                    <div class="pagination-wrapper">
                                                        <ul class="pagination-list list-style-none">
                                                            <!-- 'Previous' 버튼 수정 -->
                                                            <li th:class="${pageResultDTO.prev} ? 'pagination-list-item-prev' : 'pagination-list-item-prev disabled'">
<!--                                                                <a th:href="@{/product/{ano}(ano=${accommodation.ano}, page=${pageResultDTO.page - 1})}"-->
<!--                                                                   class="pagination-list-item-button"> Prev </a>-->
                                                            </li>

                                                            <!-- 페이지네이션 시작 페이지 및 끝 페이지 계산 -->
                                                            <th:block
                                                                    th:with="startPage=${pageResultDTO.page - 5}, endPage=${pageResultDTO.page + 5}">

                                                                <!-- 시작 페이지부터 끝 페이지까지 페이지 목록 생성 -->


                                                            </th:block>

                                                            <!-- 'Next' 버튼 수정 -->
<!--                                                            <li th:class="${pageResultDTO.next} ? 'pagination-list-item-next' : 'pagination-list-item-next disabled'">-->
<!--                                                                <a th:href="@{/product/{ano}(ano=${accommodation.ano}, page=${pageResultDTO.page + 1})}"-->
<!--                                                                   class="pagination-list-item-button disabled">-->
<!--                                                                    Next </a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

                                    <script>
                                        $(function () {
                                            let startDate = $('input[name="StartDate"]').val();
                                            let endDate = $('input[name="EndDate"]').val();

                                            // Check if the dates are valid
                                            if (!moment(startDate, 'YYYY-MM-DD', true).isValid()) {
                                                startDate = moment().format('YYYY-MM-DD');
                                            }
                                            if (!moment(endDate, 'YYYY-MM-DD', true).isValid()) {
                                                endDate = moment().add(1, 'days').format('YYYY-MM-DD');
                                            }

                                            $('input[name="daterange"]').daterangepicker({
                                                opens: 'left',
                                                startDate: moment(startDate, 'YYYY-MM-DD'),
                                                endDate: moment(endDate, 'YYYY-MM-DD')
                                            }, function (start, end, label) {
                                                startDate = start.format('YYYY-MM-DD');
                                                endDate = end.format('YYYY-MM-DD');

                                                $('input[name="StartDate"]').val(startDate);
                                                $('input[name="EndDate"]').val(endDate);
                                            });
                                        });

                                        function disableDaterangeInput() {
                                            $('input[name="daterange"]').prop('disabled', true);
                                        }
                                    </script>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            const galleryElements = document.querySelectorAll("[id^='gallery-']");

                                            galleryElements.forEach(function (element) {
                                                const galleryId = element.id;
                                                const hiddenLinks = document.querySelectorAll(`[data-gallery-id='${galleryId}']`);

                                                hiddenLinks.forEach(function (link) {
                                                    element.appendChild(link.cloneNode(true));
                                                });

                                                lightGallery(element, {
                                                    selector: "a"
                                                });
                                            });
                                        });
                                    </script>

                                </div>
