<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block>
    <h2 th:text="${entity.adminname + '사장님! 어서오세요.'}"></h2>
    <h3 th:text="${'업소명 : ' + entity.name}"></h3>
    <h3 th:text="${'평점 : ' + entity.grade}"></h3>
    <h3 th:text="${'카테고리 : ' + entity.category}"></h3>
    <h3 th:text="${'주소 : ' + entity.address}"></h3>
    <h3 th:text="${'우편번호 : ' + entity.postal}"></h3>
    <h3 th:text="${'관리인 : ' + entity.adminname}"></h3>
    <h3 th:text="${'이메일 : ' + entity.email}"></h3>
    <h3 th:text="${'전화번호 : ' + entity.tel}"></h3>

</th:block>
</body>
</html>