<!DOCTYPE html>
<html layout:decorate="~{fragmentsAdmin/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>

<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">예약자 목록</h1>
            <ol class="breadcrumb mb-4">
                <div class="row mat-25">
                    <table class="table mb-5">
                        <thead>
                        <tr>
                            <th scope="col">예약번호</th>
                            <th scope="col">이름</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">예약날짜</th>
                            <th scope="col">체크인</th>
                            <th scope="col">체크아웃</th>
                            <th scope="col">요청사항</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="obj : ${list}" th:if="${obj[1]==true}">
                            <td th:text="${obj[0]}"></td>
                            <td th:text="${obj[5].name}"></td>
                            <td th:text="${obj[5].tel}"></td>
                            <td th:text="${#temporals.format(obj[2], 'yyyy/MM/dd')}"><</td>
                            <td th:text="${#temporals.format(obj[3], 'yyyy/MM/dd')}"></td>
                            <td th:text="${#temporals.format(obj[4], 'yyyy/MM/dd')}"></td>
                            <td th:text="${obj[6]}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ol>
        </div>
    </main>
</div>
</body>

</html>