<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">

    <div class="container" style="margin: 30px auto">
        <div class="section-title center-text" style="max-width: 800px">
            <a href="http://naver.me/GZjS4xew" target="_blank"><img th:src="@{/maintitle.jpg}"></a>
        </div>
        <div class="row center-text" style="max-width: 800px; margin:10px auto">
            <div class="col">
                <a href="/product/list?category=motel"> <img th:src="@{/icon/ico_category_01.png}" alt="img">
                    <p>모텔</p></a>
            </div>
            <div class="col">
                <a href="/product/list?category=hotel"> <img th:src="@{/icon/ico_category_02.png}" alt="img">
                    <p>호텔&리조트</p></a>
            </div>
            <div class="col">
                <a href="/product/list?category=pension"> <img th:src="@{/icon/ico_category_03.png}" alt="img">
                    <p>펜션</p></a>
            </div>
            <div class="col">
                <a href="/product/list?category=guesthouse"> <img th:src="@{/icon/ico_category_04.png}" alt="img">
                    <p>게스트하우스</p></a>
            </div>
            <div class="col">
                <a href="/product/list?category=camping"> <img th:src="@{/icon/ico_category_05.png}" alt="img">
                    <p>캠핑&글램핑</p></a>
            </div>
        </div>
        <div class="row center-text" style="max-width: 800px; margin:40px auto">
            <div class="section-title text-left append-flex">
                <h4 class="h4"><font color="#5f9ea0">당신</font>에게 추천하는 가이드</h4>
                <div class="append-attraction"></div>
            </div>
            <div class="row mt-5">
                <div class="col-12" th:if="${!#lists.isEmpty(tourBoard.dtoList)}">
                    <div class="global-slick-init attraction-slider nav-style-one slider-inner-margin"
                         data-appendArrows=".append-attraction" data-infinite="true" data-arrows="true"
                         data-dots="false" data-slidesToShow="4" data-swipeToSlide="true" data-autoplay="true"
                         data-autoplaySpeed="2500"
                         data-prevArrow='<div class="prev-icon"><i class="las la-angle-left"></i></div>'
                         data-nextArrow='<div class="next-icon"><i class="las la-angle-right"></i></div>'
                         data-responsive='[{"breakpoint": 1400,"settings": {"slidesToShow": 4}},{"breakpoint": 1200,"settings": {"slidesToShow": 3}},{"breakpoint": 992,"settings": {"slidesToShow": 2}},{"breakpoint": 480, "settings": {"slidesToShow": 1} }]'>
                        <div class="attraction-item" th:each="dto : ${tourBoard.dtoList}">
                            <div class="single-attraction radius-20">
                                <div class="single-attraction-thumb" th:if="${not #lists.isEmpty(dto.imgFiles)}">
                                    <a th:href="@{/tour/read(tbno=${dto.tbno})}">
                                        <img th:src="'/imgtest/' + ${dto.imgFiles[0]}" th:alt="${dto.title}">
                                    </a>
                                </div>

                                <div class="single-attraction-contents">
                                    <h4 class="single-attraction-contents-title"><a
                                            th:href="@{/tour/read(tbno=${dto.tbno})}">
                                        [[${dto.title}]] </a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>