<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/layout1}">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css"
          integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"
            integrity="sha512-dSI4QnNeaXiNEjX2N8bkb16B7aMu/8SI5/rE6NIa3Hr/HnWUO+EAZpizN2JQJrXuvU7z0HTgpBVk/sfGd0oW+w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }

        .badge-info, .badge-secondary {
            color: #000;
        }
    </style>
</th:block>
<div layout:fragment="content">

    <style>
        .star-rating {
            display: flex;
            flex-direction: row-reverse;
            font-size: 2.25rem;
            line-height: 2.5rem;
            justify-content: space-around;
            padding: 0 0.2em;
            text-align: center;
            width: 5em;
        }

        .star-rating input {
            display: none;
        }

        .star-rating label {
            -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 2.3px;
            -webkit-text-stroke-color: #2b2a29;
            cursor: pointer;
        }

        .star-rating :checked ~ label {
            -webkit-text-fill-color: gold;
        }

        .star-rating label:hover,
        .star-rating label:hover ~ label {
            -webkit-text-fill-color: #fff58c;
        }
    </style>

    <!-- Blog Details starts -->
    <section class="blog-details-area pat-100 pab-100">
        <div class="container">
            <div class="section-title text-left append-flex">
                <h4 class="h4"><font color="#5f9ea0">[[${param.keyword}]]</font>에 대한 가이드의 결과 </h4>
                <div class="append-attraction"></div>
            </div>
            <div class="row mt-5">
                <div class="col-12" th:if="${!#lists.isEmpty(tourBoard.dtoList)}">
                    <div class="global-slick-init attraction-slider nav-style-one slider-inner-margin"
                         data-appendArrows=".append-attraction" data-infinite="true" data-arrows="true"
                         data-dots="false" data-slidesToShow="4" data-swipeToSlide="true" data-autoplay="true"
                         data-autoplaySpeed="2500"
                         data-prevArrow='<div class="prev-icon"><i class="las la-angle-left"></i></div>'
                         data-nextArrow='<div class="next-icon"><i class="las la-angle-right"></i></div>'
                         data-responsive='[{"breakpoint": 1400,"settings": {"slidesToShow": 4}},{"breakpoint": 1200,"settings": {"slidesToShow": 3}},{"breakpoint": 992,"settings": {"slidesToShow": 2}},{"breakpoint": 480, "settings": {"slidesToShow": 1} }]'>
                        <div class="attraction-item" th:each="dto : ${tourBoard.dtoList}">
                            <div class="single-attraction radius-20">
                                <div class="single-attraction-thumb" th:if="${not #lists.isEmpty(dto.imgDTOList)}">
                                    <a th:href="@{/tour/read(tbno=${dto.tbno})}">
                                        <img th:src="'/imgtest/' + ${dto.imgDTOList[0].imgfile}"
                                             th:alt="${dto.title}">
                                    </a>
                                </div>
                                <div class="single-attraction-contents">
                                    <h4 class="single-attraction-contents-title"><a
                                            th:href="@{/tour/read(tbno=${dto.tbno})}">
                                        [[${dto.title}]] </a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" th:if="${#lists.isEmpty(tourBoard.dtoList)}">
                            <th:block th:each="dto : ${tourBoard.dtoList}">
                                검색결과가 없습니다.
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="section-title text-left append-flex mat-30">
                    <h4 class="h4"><font color="#5f9ea0">[[${param.keyword}]]</font>에 대한 숙소의 결과 </h4>
                    <div class="append-attraction"></div>
                </div>
                <div class="row mt-5">
                    <div class="col-12" th:if="${!#lists.isEmpty(accommodation.dtoList)}">
                        <div class="global-slick-init attraction-slider nav-style-one slider-inner-margin"
                             data-appendArrows=".append-attraction" data-infinite="true" data-arrows="true"
                             data-dots="false" data-slidesToShow="4" data-swipeToSlide="true" data-autoplay="true"
                             data-autoplaySpeed="2500"
                             data-prevArrow='<div class="prev-icon"><i class="las la-angle-left"></i></div>'
                             data-nextArrow='<div class="next-icon"><i class="las la-angle-right"></i></div>'
                             data-responsive='[{"breakpoint": 1400,"settings": {"slidesToShow": 4}},{"breakpoint": 1200,"settings": {"slidesToShow": 3}},{"breakpoint": 992,"settings": {"slidesToShow": 2}},{"breakpoint": 480, "settings": {"slidesToShow": 1} }]'>
                            <div class="attraction-item" th:each="dto : ${accommodation.dtoList}">
                                <div class="single-attraction radius-20">
                                    <div class="single-attraction-thumb"
                                         th:if="${not #lists.isEmpty(dto.imgDTOList)}">
                                        <a th:href="@{/product/{ano}(ano=${dto.ano})}">
                                            <img th:src="'/imgtest/' + ${dto.imgDTOList[0].imgfile}"
                                                 th:alt="${dto.name}"/>
                                        </a>
                                    </div>
                                    <div class="single-attraction-contents">
                                        <h4 class="single-attraction-contents-title"><a
                                                th:href="@{/product/{ano}(ano=${dto.ano})}">
                                            [[${dto.name}]] </a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" th:if="${#lists.isEmpty(accommodation.dtoList)}">
                                <th:block th:each="dto : ${accommodation.dtoList}">
                                    검색결과가 없습니다.
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Blog Details area end -->

</div>

</html>



