<!DOCTYPE html>
<html layout:decorate="~{fragments/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .pagination-dark .page-link {
            color: #fff;
            background-color: #343a40;
            border-color: #343a40;
        }

        .pagination-dark .page-item.active .page-link {
            z-index: 1;
            color: #343a40;
            background-color: #fff;
            border-color: #343a40;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div class="dashboard-area section-bg-2 pat-100 pab-100">
        <div class="container">
            <div class="dashboard-contents-wrapper">
                <div class="dashboard-icon">
                    <div class="sidebar-icon">
                        <i class="las la-bars"></i>
                    </div>
                </div>
                <div class="dashboard-left-content">
                    <div class="dashboard-close-main">
                        <div class="close-bars"><i class="las la-times"></i></div>
                        <div class="dashboard-bottom">
                            <ul class="dashboard-list list-style-none">
                                <li class="list active">
                                    <a href="/qna/list"> <i class="las la-briefcase"></i> 1:1문의 </a>
                                </li>
                                <li class="list">
                                    <a href="/adminboard/notice"> <i class="las la-briefcase"></i> 공지사항 </a>
                                </li>
                                <li class="list">
                                    <a href="/adminboard/event"> <i class="las la-briefcase"></i> 이벤트 </a>
                                </li>
                                <li class="list">
                                    <a href="/adminboard/faq"> <i class="las la-briefcase"></i> 자주 묻는 질문 </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dashboard-right-contents mt-4 mt-lg-0">
                    <div class="dashboard-reservation">
                        <div class="single-reservation bg-white base-padding">


                            <!---->
                            <button id="mapButton">지도</button>

                            <div id="modal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>

                                    <!--지도 담을 영역-->
                                    <div id="map" style="max-width:1000px;height:400px;"></div>
                                    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c7a803e4f5e6440b0235c7fa6922d495"></script>
                                    <script>
                                        var container = document.getElementById('map');
                                        var options = {
                                            center: new kakao.maps.LatLng(37.266129099555634, 126.99978579599939), //지도 중심 좌표
                                            level: 3 //지도 확대 레벨
                                        };

                                        var map = new kakao.maps.Map(container, options); //지도 생성
                                        var mapTypeControl = new kakao.maps.MapTypeControl(); // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                                    </script>
                                    <script>
                                        // 버튼 및 모달 요소 가져오기
                                        const mapButton = document.getElementById("mapButton");
                                        const modal = document.getElementById("modal");
                                        const closeBtn = document.getElementsByClassName("close")[0];

                                        // '지도' 버튼 클릭 시 모달 열기
                                        mapButton.addEventListener("click", function() {
                                            modal.style.display = "block";
                                        });

                                        // 모달 닫기 버튼 클릭 시 모달 닫기
                                        closeBtn.addEventListener("click", function() {
                                            modal.style.display = "none";
                                        });

                                        // 모달 외 다른 부분 클릭 시 모달 닫기
                                        window.addEventListener("click", function(event) {
                                            if (event.target === modal) {
                                                modal.style.display = "none";
                                            }
                                        });
                                        function relayout() {

                                            // 지도를 표시하는 div 크기를 변경한 이후 지도가 정상적으로 표출되지 않을 수도 있습니다
                                            // 크기를 변경한 이후에는 반드시  map.relayout 함수를 호출해야 합니다
                                            // window의 resize 이벤트에 의한 크기변경은 map.relayout 함수가 자동으로 호출됩니다
                                            map.relayout();
                                        }
                                    </script>
                                    <!---->
                                    </div>
                                <button onclick="relayout()">relayout 호출하기</button>
                                </div>
                            </div>


                            <div class="row justify-content-between">
                                <div class="col-md-2">
                                    <a th:href="@{/qna/register}">
                                        <button class="btn btn-primary" type="button">REGISTER</button>
                                    </a>
                                </div>
                                <div class="col-md-10">
                                    <form action="/qna/list" id="searchForm" method="get">
                                        <div class="input-group">
                                            <input name="page" type="hidden" value="1">
                                            <div class="input-group-prepend">
                                                <select class="form-select" id="exampleSelect1" name="type">
                                                    <option th:selected="${pageRequestDTO.type == null}">-------
                                                    </option>
                                                    <option th:selected="${pageRequestDTO.type =='t'}" value="t">제목
                                                    </option>
                                                    <option th:selected="${pageRequestDTO.type =='c'}" value="c">내용
                                                    </option>
                                                    <option th:selected="${pageRequestDTO.type =='w'}" value="w">작성자
                                                    </option>
                                                    <option th:selected="${pageRequestDTO.type =='tc'}" value="tc">제목 +
                                                        내용
                                                    </option>
                                                    <option th:selected="${pageRequestDTO.type =='tcw'}" value="tcw">제목
                                                        + 내용 + 작성자
                                                    </option>
                                                </select>
                                            </div>
                                            <input class="form-control" name="keyword"
                                                   th:value="${pageRequestDTO.keyword}"/>&nbsp;
                                            <div class="input-group-append" id="button-addon4">
                                                <button class="btn btn-primary" type="button">Search</button>
                                                <button class="btn btn-outline-primary" type="button">Clear
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="table-responsive" style="margin-top: 10px;">
                                <table class="table table-hover">
                                    <thead>
                                    <tr class="table-primary">
                                        <th class="col-md-1" scope="col">#</th>
                                        <th class="col-md-4" scope="col">Title</th>
                                        <th class="col-md-4" scope="col">Writer</th>
                                        <th class="col-md-3" scope="col">Regdate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-light" th:each="dto : ${result.dtoList}">
                                        <td th:text="${dto.bno}"></td>
                                        <td>
                                            <a class="text-dark" th:href="@{/qna/read(bno = ${dto.bno},
                    page= ${result.page},
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword})}" th:text="${dto.title}">[[${dto.title}]]</a>
                                        </td>
                                        <td>
                                            <span th:text="${dto.writerName}"></span>
                                            <small class="text-muted" th:text="${dto.writerEmail}"></small>
                                        </td>
                                        <td th:text="${#temporals.format(dto.regDate, 'yyyy/MM/dd')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--페이징 처리-->
                            <nav>
                                <ul class="pagination pagination-dark justify-content-center">
                                    <!-- 'Previous' 버튼 수정 -->
                                    <li th:class="${result.prev} ? 'page-item' : 'page-item disabled'">
                                        <a class="page-link"
                                           th:href="@{/qna/list(page=${result.page - 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                                            Previous
                                        </a>
                                    </li>

                                    <!-- 페이지네이션 시작 페이지 및 끝 페이지 계산 -->
                                    <th:block th:with="startPage=${result.page - 5}, endPage=${result.page + 5}">

                                        <!-- 시작 페이지부터 끝 페이지까지 페이지 목록 생성 -->
                                        <li th:class="${result.page == page} ? 'page-item active' : 'page-item'"
                                            th:each="page: ${#numbers.sequence(1, result.totalPage)}"
                                            th:if="${page >= startPage and page <= endPage}">
                                            <a class="page-link"
                                               th:href="@{/qna/list(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                                                [[${page}]]
                                            </a>
                                        </li>

                                    </th:block>

                                    <!-- 'Next' 버튼 수정 -->
                                    <li th:class="${result.next} ? 'page-item' : 'page-item disabled'">
                                        <a class="page-link"
                                           th:href="@{/qna/list(page=${result.page + 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                                            Next
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard area end -->

    <script th:inline="javascript">

        var msg = [[${msg}]];

        console.log(msg);

        if (msg) {
            $(".modal").modal();
        }
        var searchForm = $("#searchForm");

        $('.btn-primary').click(function (e) {

            searchForm.submit();

        });

        $('.btn-outline-primary').click(function (e) {

            searchForm.empty().submit();

        });


    </script>

</div>
</html>