<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }

        .badge-info, .badge-secondary {
            color: #000;
        }
    </style>
</th:block>
<div layout:fragment="content">

    <div class="dashboard-area section-bg-2 pat-100 pab-100">
        <div class="container">
            <div class="dashboard-contents-wrapper">
                <div class="dashboard-icon">
                    <div class="sidebar-icon">
                        <i class="las la-bars"></i>
                    </div>
                </div>
                <div class="dashboard-left-content">
                    <div class="dashboard-close-main">
                        <div class="close-bars"><i class="las la-times"></i></div>
                        <div class="dashboard-bottom">
                            <ul class="dashboard-list list-style-none">
                                <li class="list active">
                                    <a href="/qna/list"> <i class="las la-briefcase"></i> 1:1문의 </a>
                                </li>
                                <li class="list">
                                    <a href="/adminboard/notice"> <i class="las la-briefcase"></i> 공지사항 </a>
                                </li>
                                <li class="list">
                                    <a href="/adminboard/event"> <i class="las la-briefcase"></i> 이벤트 </a>
                                </li>
                                <li class="list">
                                    <a href="/adminboard/faq"> <i class="las la-briefcase"></i> 자주 묻는 질문 </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dashboard-right-contents mt-4 mt-lg-0">
                    <div class="dashboard-reservation">
                        <div class="single-reservation bg-white base-padding">
                            <h4 class="card-title" th:text="${dto.title}" style="left: 0;"></h4>
                            <p class="card-text" th:text="${dto.writerName}" style="text-align: right"></p>
                            <div style="width: 100%; border-bottom: #000000 solid 1px;"></div>
                            <p class="card-text" style="margin-top: 20px;">[[${dto.content}]]</p>
                            <p style="margin-top: 20px; text-align: right;">작성일 : [[${#temporals.format(dto.regDate,
                                'yyyy/MM/dd HH:mm:ss')}]]<br/>
                                수정일 : [[${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}]]</p>
                            <a th:href="@{/qna/modify(bno = ${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                                <button type="button" class="btn btn-primary">Modify</button>
                            </a>

                            <a th:href="@{/qna/list(page=${requestDTO.page} , type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                                <button type="button" class="btn btn-info">List</button>
                            </a>
                            <div style="width: 100%; border-bottom: #000000 solid 1px; margin-top: 20px;"></div>
                            <div class="mt-4">
                                <div class="replyList list-group">
                                    <!-- Reply list items will be added here dynamically -->
                                </div>
                            </div>
                            <form class="mt-4">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="replyText"
                                           placeholder="Reply Text...">
                                </div>
                                <button type="button" class="btn btn-primary addReply" style="margin-top: 15px;">Add
                                    Reply
                                </button>
                            </form>

                            <div class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Modal title</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="replyText"
                                                       placeholder="Reply Text...">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="replyer"
                                                       placeholder="Replyer" readonly>
                                                <input type="hidden" name="rno">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger replyRemove">Remove</button>
                                            <button type="button" class="btn btn-warning replyModify">Modify</button>
                                            <button type="button" class="btn btn-primary replySave">Save</button>
                                            <button type="button" class="btn btn-outline-secondary replyClose"
                                                    data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard area end -->

    <script th:inline="javascript">
        $(document).ready(function () {

            var bno = [[${dto.bno}]];


            //날짜 처리를 위한 함수
            function formatTime(str) {
                var date = new Date(str);

                return date.getFullYear() + '/' +
                    (date.getMonth() + 1) + '/' +
                    date.getDate() + ' ' +
                    date.getHours() + ':' +
                    date.getMinutes();
            }

            // 특정한 게시글의 댓글을 처리하는 함수
            function loadJSONData() {
                $.getJSON('/qna/qnareply/' + bno, function (arr) {
                    var replyList = $(".replyList");
                    console.log(replyList);
                    replyList.empty();


                    $.each(arr, function (idx, qnaReply) {
                        var replyItem = $("<div>").addClass("list-group-item d-flex justify-content-between align-items-center").data("rno", qnaReply.rno);
                        var replyText = $("<span>").addClass("replyText").text(qnaReply.text);
                        var replyTextEnd = $("</span>")
                        var replyer = $("<span>").addClass("replyer").text(qnaReply.replyer);
                        var replyerEnd = $("</span>")
                        var replyItemEnd = $("</div>")
                        replyItem.append(replyText).append(replyTextEnd).append(replyer)
                            .append(replyerEnd).append(replyItemEnd);
                        replyList.append(replyItem);
                    });
                });
            }

            // 페이지가 로드되면 댓글을 로드합니다.
            loadJSONData();

            $(".addReply").on("click", function (e) {
                var qnaReply = {
                    bno: bno,
                    text: $('input[name="replyText"]').val(),
                    replyer: $('input[name="replyer"]').val()
                }
                console.log(qnaReply);
                $.ajax({
                    url: '/qna/',
                    method: 'post',
                    data: JSON.stringify(qnaReply),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);

                        var newRno = parseInt(data);

                        alert("댓글이 등록되었습니다.")
                        //댓글 입력하는 부분 초기화 시키기
                        $('input[name="replyText"]').val('');
                        $('input[name="replyer"]').val('');
                        loadJSONData();
                    }
                })
            });

            //모달 창
            var modal = $('.modal');

            $(".replySave").click(function () {

                var qnaReply = {
                    bno: bno,
                    text: $('input[name="replyText"]').val(),
                    replyer: $('input[name="replyer"]').val()
                }
                console.log(qnaReply);
                $.ajax({
                    url: '/qna/',
                    method: 'post',
                    data: JSON.stringify(qnaReply),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);

                        var newRno = parseInt(data);

                        alert(newRno + "번 댓글이 등록되었습니다.")
                        modal.modal('hide');
                        loadJSONData();
                    }
                })
            });

            $('.replyList').on("click", ".list-group-item", function () {
                var rno = $(this).data("rno");

                $("input[name='replyText']").val($(this).find('.replyText').text());
                $("input[name='replyer']").val($(this).find('.replyer').text());
                $("input[name='rno']").val(rno);

                $(".modal-footer .btn").hide();
                $(".replyRemove, .replyModify, .replyClose").show();

                modal.modal('show');
            });

            $(".close").on("click", function () {
                modal.modal('hide');
            });

            $(".replyClose").on("click", function () {
                modal.modal('hide');
            });

            $(".replyRemove").on("click", function () {

                var rno = $("input[name='rno']").val(); //모달 창에 보이는 댓글 번호 - hidden처리되어 있음

                $.ajax({
                    url: '/qna/' + rno,
                    method: 'delete',
                    success: function (result) {
                        console.log("result: " + result);
                        if (result === 'success') {
                            alert("댓글이 삭제되었습니다");
                            modal.modal('hide');
                            loadJSONData();
                        }
                    }
                })
            });

            $(".replyModify").click(function () {

                var rno = $("input[name='rno']").val();

                var qnaReply = {
                    rno: rno,
                    bno: bno,
                    text: $('input[name="replyText"]').val(),
                    replyer: $('input[name="replyer"]').val()
                }

                console.log(qnaReply);
                $.ajax({
                    url: '/qna/' + rno,
                    method: 'put',
                    data: JSON.stringify(qnaReply),
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {

                        console.log("RESULT: " + result);

                        if (result === 'success') {
                            alert("댓글이 수정되었습니다");
                            modal.modal('hide');
                            loadJSONData();
                        }
                    }
                });
            });

        });
    </script>
</div>
</div>



