<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentsAdmin/layout}">

<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
</head>

<body>
<div layout:fragment="content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">방 목록 관리</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">방 목록 보기</li>
      </ol>
      <div class="row">

        <a th:href="@{/seller/register}">
          <button type="button" class="btn btn-outline-primary">방 등록하기
          </button>
        </a>

        <table class="table mb-0">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">방 이름</th>
            <th scope="col">방 가격</th>
            <th scope="col">영업 여부</th>
            <th scope="col">수정하기</th>
            <th scope="col">삭제하기</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="dto, iterStat : ${list}">
            <input hidden="hidden" id="check" />
            <td th:text="${iterStat.count}"></td>
            <td><a th:text="${dto.roomName}" th:href="@{/seller/read(rno=${dto.rno})}"></a></td>
            <td><h5 th:text="${dto.price}"></h5></td>
            <td><h5 th:text="${dto.operating == true ? '영업중' : '영업안함'}"></h5></td>
            <td><a th:href="@{/seller/update(rno=${dto.rno})}">수정하기</a></td>
            <td><a th:href="@{/seller/delete(rno=${dto.rno})}">삭제하기</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
</body>

</html>