<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>숙소 관리 대시보드</title>
</head>
<body>
<div>
    <!-- 숙소 정보 표시 -->
    <h2 th:text="${accommodation.sellerName + ' 사장님, 어서오세요.'}"></h2>
    <h3 th:text="${'업소명 : ' + accommodation.accommodationName}"></h3>
    <h3 th:text="${'평점 : ' + accommodation.grade}"></h3>
    <h3 th:text="${'주소 : ' + accommodation.address}"></h3>
    <h3 th:text="${'우편번호 : ' + accommodation.postal}"></h3>
    <h3 th:text="${'전화번호 : ' + accommodation.tel}"></h3>

    <!-- 옵션 목록 표시 -->
    <div>
        <h4>옵션 목록:</h4>
        <ul>
            <li th:each="option : ${options}" th:text="${option.optionName}"></li>
        </ul>
    </div>
</div>
</body>
</html>
