<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentsAdmin/layout}">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <style>
        /* 이용 전 (ACTIVE) - 초록색 */
        .ACTIVE {
            background-color: lightgreen;
        }

        /* 이용 완료 (COMPLETED) - 회색 */
        .COMPLETED {
            background-color: lightgray;
        }

        /* 취소 요청 (CANCELLATION_REQUESTED) - 빨간색 */
        .CANCELLATION_REQUESTED {
            background-color: red;
            color: white;
        }

        /* 취소됨 (CANCELLED) - 가로줄 */
        .CANCELLED {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">예약자 목록</h1>
            <ol class="breadcrumb mb-4">
                <div class="row mat-25">
                    <table class="table mb-5">
                        <thead>
                        <tr>
                            <th scope="col">예약상태</th>
                            <th scope="col">예약번호</th>
                            <th scope="col">이름</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">예약날짜</th>
                            <th scope="col">체크인</th>
                            <th scope="col">체크아웃</th>
                            <th scope="col">요청사항</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="reservation : ${list}" th:class="${reservation.status.name()}">
                            <td th:text="${reservation.status.name()}"></td>
                            <td th:text="${reservation.rvno}"></td>
                            <td th:text="${reservation.memberDTO.username}"></td>
                            <td th:text="${reservation.memberDTO.tel}"></td>
                            <td th:text="${#temporals.format(reservation.regTime, 'yyyy/MM/dd')}"></td>
                            <td th:text="${#temporals.format(reservation.startDate, 'yyyy/MM/dd')}"></td>
                            <td th:text="${#temporals.format(reservation.endDate, 'yyyy/MM/dd')}"></td>
                            <td th:text="${reservation.message}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ol>
        </div>
    </main>
</div>
</body>

</html>