<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentsAdmin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Pie Chart Example</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSbNt0"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-Wf5yibpX6EdarufJ75G6hJQ5PaXtkKtu6UG5TOeNV6gBiFeWPGFN9MuhOf23QSh+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</head>
<body>


<div layout:fragment="content">
<div class="container">
    <h1>매출 현황</h1>
    <h3 th:text="${StartDate} + '~' + ${EndDate} + '의 매출'"></h3>

    <form th:action="@{sales}" method="get">
        <div class="form-group row">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="startDate" name="StartDate" required th:value="${StartDate}">
            </div>
        </div>

        <div class="form-group row">
            <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="endDate" name="EndDate" required th:value="${EndDate}">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <hr>
    예약기준 날짜로 매출을 산정합니다.
    <div id="chartContainer" style="height: 370px; width: 50%;">
        <canvas id="myChart"></canvas>

        <script th:inline="javascript">
            /* 리스트 데이터를 가져오기 */
            var data = /*[[${sales}]]*/ [];

            /* 차트 데이터 생성 */
            var chartData = {
                labels: [],
                datasets: [
                    {
                        label: 'Sales',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        data: []
                    }
                ]
            };

            /* 데이터를 차트 데이터에 추가 */
            for(var i=0; i<data.length; i++) {
                chartData.labels.push(data[i][0]);
                chartData.datasets[0].data.push(data[i][1]);
            }

            /* 차트 그리기 */
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

    </div>

</div>
</div>
</body>
</html>