<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentsAdmin/layout}">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery@2/dist/tinymce-jquery.min.js"></script>

    <title>Admin Dashboard</title>
</head>

<body>
<div layout:fragment="content">
    <div style="padding: 15px;">
        <div class="white-box">
            <form class="row g-3" action="/seller/update" method="post" enctype="multipart/form-data">
                <input hidden="hidden" name="rno" th:value="${dto.rno}">
                <h5 class="col-12 mb-3">방 정보를 수정하세요.</h5>

                <div class="col-12 col-md-6">
                    <label class="form-label">방 이름</label>
                    <input class="form-control" type="text" name="room_name" th:value="${dto.room_name}">
                </div>

                <div class="col-12 col-md-6">
                    <label class="form-label">방 가격</label>
                    <input class="form-control" type="number" name="price" th:value="${dto.price}">
                </div>

                <div class="col-12">
                    <div>
                        영업여부
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="operating" id="operating-yes" value="true"
                               th:checked="${dto.operating == true}">
                        <label class="form-check-label" for="operating-yes">영업중</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="operating" id="operating-no" value="false"
                               th:checked="${dto.operating == false}">
                        <label class="form-check-label" for="operating-no">영업안함</label>
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label">내용 입력</label>
                    <textarea id="tiny" name="content" th:utext="${dto.content}"></textarea>
                </div>

                <div class="col-12 col-md-6">
                    <label class="form-label">이미지</label>
                    <input class="form-control" type="file" name="images">
                </div>

                <div class="col-12 col-md-6">
                    <label class="form-label">이미지</label>
                    <input class="form-control" type="file" name="images">
                </div>

                <!-- 이미지 수만큼 위와 같은 코드를 반복해서 작성합니다. -->

                <div class="col-12">
                    <button class="btn btn-primary" type="submit">수정</button>
                </div>
            </form>

            <script>
                $('textarea#tiny').tinymce({
                    height: 500,
                    menubar: false,
                    plugins: [
                        'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
                        'anchor', 'searchreplace', 'visualblocks', 'fullscreen',
                        'insertdatetime', 'media', 'table', 'code', 'help', 'wordcount'
                    ],
                    toolbar: 'undo redo | blocks | bold italic backcolor | ' +
                        'alignleft aligncenter alignright alignjustify | ' +
                        'bullist numlist outdent indent | removeformat | help'
                });
            </script>

        </div>
    </div>
</div>
</body>

</html>