/*--------------------------------------------------------------
    Google Fonts
--------------------------------------------------------------*/

// Plus Jakarta Font
// @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
// Manrope Font
// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
//== Abstract page
@import "abstracts/mixins";
@import "abstracts/variables";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

:root {
    --main-color-one: #1E84FE;
    --main-color-one-rgb: 30, 132, 254;
    --secondary-color: #FF8C32;
    --secondary-color-rgb: 255, 140, 50;
    --gradient-circle: radial-gradient(circle, rgba(var(--main-color-one-rgb), 0.8) 0%, var(--main-color-one) 100%);
    --section-bg-1: #F6F7F8;
    --section-bg-2: #F2F4F7;
    --footer-bg-1: #27282B;
    --footer-bg-2: #1E84FE;
    --copyright-bg-1: #323336;
    --heading-color: #1D2635;
    --body-color: #667085;
    --gray-color: #f8f8f8;
    --input-color: #EAECF0;
    --paragraph-color: #667085;
    --light-color: #999;
    --success-color: #00C897;
    --success-color-rgb: 0, 200, 151;
    --heading-font: 'Plus Jakarta Sans', sans-serif;
    --body-font: 'Manrope', sans-serif;
    --jakarta-font: 'Plus Jakarta Sans', sans-serif;
    --manrope-font: 'Manrope', sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    -webkit-font-smoothing: antialiased;
    /* WebKit  */
}

body {
    margin: 0;
    color: var(--body-color);
    overflow-x: hidden;
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 26px;
    @include responsive(xxs) {
        font-size: 15px;
    }
    @include responsive(vxxs) {
        font-size: 14px;
    }
}

h1 {
    font-size: 60px;
    line-height: 1.0833333333333333;
}

h2 {
    font-size: 36px;
    line-height: 1.4444444444444444;
    @include responsive(allPhone) {
        font-size: 30px;
    }
    @include responsive(xs) {
        font-size: 27px;
    }
    @include responsive(xxs) {
        font-size: 26px;
    }
    @include responsive(vxxs) {
        font-size: 24px;
    }
}

h3 {
    font-size: 28px;
    line-height: 1.0833333333333333;
    @include responsive(allPhone) {
        font-size: 26px;
    }
    @include responsive(xs) {
        font-size: 25px;
    }
    @include responsive(xxs) {
        font-size: 24px;
    }
    @include responsive(vxxs) {
        font-size: 22px;
    }
}

h4 {
    font-size: 24px;
    line-height: 1.0833333333333333;
    @include responsive(xs) {
        font-size: 23px;
    }
    @include responsive(vxxs) {
        font-size: 21px;
    }
}

h5 {
    font-size: 20px;
    line-height: 1.2380952380952381;
    @include responsive(vxxs) {
        font-size: 18px;
    }
}

h6 {
    font-size: 18px;
    line-height: 1.2380952380952381;
    @include responsive(vxxs) {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
    margin: 0;
    @include transition(300ms);
}

p {
    color: var(--light-color);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom: 0;
    line-height: 26px;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    color: var(--extra-light-color);
    @include transition(300ms);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

pre {
    word-break: break-word;
}

a i {
    padding: 0 2px;
}

img {
    max-width: 100%;
}

.list-style-none {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    counter-reset: counter;
    padding-left: 0;
}

ol li {}

ol li:before {
    counter-increment: counter;
    content: counter(counter);
    font-weight: 500;
    margin-right: 10px;
}

span {
    display: inline-block;
}

.desktop-center {
    text-align: center;
}

.form--control {
    width: 100%;
}


/* Common Style */

.margin-0 {
    margin: 0 !important;
}

.padding-0 {
    padding: 0 !important;
}

.radius-parcent-50 {
    border-radius: 50%;
}

.radius-50 {
    border-radius: 50px;
}

.radius-40 {
    border-radius: 40px;
}

.radius-35 {
    border-radius: 35px;
}

.radius-30 {
    border-radius: 30px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-15 {
    border-radius: 15px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-5 {
    border-radius: 5px;
}

.radius-0 {
    border-radius: 0px !important;
}

.no-shadow {
    box-shadow: none !important;
}

.single-border-top {
    border-top: 1px solid rgba($steam-color, .3);
}

.single-border {
    border: 1px solid rgba($steam-color, .3);
}

.color-light {
    color: var(--light-color) !important;
}

.color-extra-light {
    color: var(--extra-light-color) !important;
}

.color-heading {
    color: var(--heading-color);
}

.bg-gray {
    background-color: var(--gray-color);
}

.section-bg-1 {
    background-color: var(--section-bg-1);
}

.section-bg-2 {
    background-color: var(--section-bg-2);
}

.footer-bg-1 {
    background-color: var(--footer-bg-1);
}

.footer-bg-2 {
    background-color: var(--footer-bg-2);
}

.copyright-bg-1 {
    background-color: var(--copyright-bg-1);
}

.color-one {
    color: var(--main-color-one);
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.no-margin {
    margin: 0;
}

.lazyloads {
    display: block;
}

.center-text {
    text-align: center;
}

.tab-content-item {
    display: none;
}

.tab-content-item.active {
    display: block;
    animation: 1s fade-effects;
}

@keyframes fade-effects {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-27 {
    font-size: 27px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-36 {
    font-size: 36px !important;
}

.fs-46 {
    font-size: 46px !important;
}

.fs-65 {
    font-size: 65px !important;
}


/*--------------------------------------------------------------
# Margin and Padding
--------------------------------------------------------------*/


/*-- Margin Top --*/

@for $i from 1 through 150 {
    .mat-#{5 * $i} {
        margin-top: 5px * $i;
    }
}


/*-- Margin Bottom --*/

@for $i from 1 through 40 {
    .mab-#{5 * $i} {
        margin-bottom: 5px *$i;
    }
}


/*-- Margin Left --*/

@for $i from 1 through 150 {
    .mal-#{5 * $i} {
        margin-left: 5px * $i;
    }
}


/*-- Margin Right --*/

@for $i from 1 through 150 {
    .mar-#{5 * $i} {
        margin-right: 5px *$i;
    }
}


/*-- Padding Top --*/

@for $i from 1 through 150 {
    .pat-#{5 * $i} {
        padding-top: 5px *$i;
    }
}

@media screen and (max-width: 991px) {
    .pat-100 {
        padding-top: 70px !important;
    }
    .pab-100 {
        padding-bottom: 70px !important;
    }
    .pat-75 {
        padding-top: 45px !important;
    }
    .pab-75 {
        padding-bottom: 45px !important;
    }
    .pat-50 {
        padding-top: 35px !important;
    }
    .pab-50 {
        padding-bottom: 35px !important;
    }
}


/*-- Padding Bottom --*/

@for $i from 1 through 150 {
    .pab-#{5 * $i} {
        padding-bottom: 5px *$i;
    }
}


/*-- Padding Left --*/

@for $i from 1 through 150 {
    .pal-#{5 * $i} {
        padding-left: 5px *$i;
    }
}


/*-- Padding Right --*/

@for $i from 1 through 150 {
    .par-#{5 * $i} {
        padding-right: 5px *$i;
    }
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}