/* Global Ratings */

.center-text {
    .rating-wrap {
        @include responsive(vxxs) {
            justify-content: center;
        }
    }
}

.rating-wrap {
    display: flex;
    align-items: center;
    .ratings {
        position: relative;
        z-index: 0;
        width: 80px;
        height: 16px;
        display: inline-block;
        @include responsive(xxs) {
            width: 75px;
        }
        @include responsive(vxxs) {
            width: 70px;
        }
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            line-height: 16px;
            &.hide-rating:after {
                color: var(--light-color);
            }
            &.show-rating:after {
                color: $review-color;
            }
            &.show-rating {
                width: 88% !important;
            }
            &:after {
                position: absolute;
                left: 0;
                top: 0;
                content: "\f005" "\f005" "\f005" "\f005" "\f005";
                width: 100%;
                font-family: "Line Awesome Free";
                font-weight: 900;
            }
        }
    }
    .total-ratings {
        margin-left: 5px;
    }
}