/* Pagination style */

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    &-item-button {
        display: inline-block;
        font-size: 16px;
        color: var(--paragraph-color);
        border: 1px solid var(--input-color);
        background-color: var(--input-color);
        line-height: 1;
        padding: 9px 15px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        &:hover {
            background-color: var(--main-color-one);
            color: $white;
        }
    }
    &-item {
        &:hover {
            .pagination-list {
                &-item {
                    &-link {
                        background-color: var(--main-color-one);
                        color: $white;
                    }
                }
            }
        }
        &.active {
            .pagination-list {
                &-item {
                    &-link {
                        background-color: var(--main-color-one);
                        color: $white;
                    }
                }
            }
        }
        &-link {
            display: inline-block;
            font-size: 16px;
            color: var(--paragraph-color);
            border: 1px solid $white;
            background-color: $white;
            line-height: 1;
            padding: 9px 15px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
    }
}