/* Popup Modal */

.popup-fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.6);
    z-index: 9992;
    visibility: hidden;
    opacity: 0;
    @include transition(.4s);
    &.popup-active {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.popup-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba($black, .6);
    z-index: 9991;
    visibility: hidden;
    opacity: 0;
    @include transition(.4s);
    &.popup-active {
        visibility: visible;
        opacity: 1;
    }
}

.popup-cancell-modal {}

.popup-contents {
    max-width: 500px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: $white;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    &-title {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        color: var(--heading-color);
        margin: -4px 0 0;
    }
    &-select {
        display: flow-root;
        margin-top: 25px;
        &-label {
            font-size: 16px;
            color: var(--heading-color);
            margin-bottom: 8px;
            font-weight: 500;
        }
    }
    &-btn {
        margin-top: 25px;
    }
}