/* Select2 Css */

// .custom-select {
.select2-container {
    box-sizing: border-box;
    display: inline-flex;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.select2-container--default .select2-selection--single {
    background-color: $white;
    border: 1px solid rgba($steam-color, .7);
    border-radius: 4px;
    position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--paragraph-color);
    line-height: 28px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 10px;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--paragraph-color) transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: auto;
    right: 11px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-results {
    display: block;
}

.select2-dropdown {
    background-color: $white;
    border: 1px solid rgba($steam-color, .7);
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba($steam-color, .7);
}

.select2-container--default .select2-results__option--selected {
    background-color: rgba(var(--main-color-one-rgb), .1);
    color: var(--main-color-one);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgba(var(--main-color-one-rgb), .1);
    color: var(--main-color-one);
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

// }