/* Tabs Design */

.tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-color);
    line-height: 28px;
    cursor: pointer;
    @include transition(300ms);
  }
}