/* Banner  */

.banner-area {
  position: relative;
  z-index: 1;
  padding: 0;
  @include responsive(allPhone) {
    padding-top: 80px;
  }

  &-one {
    padding-top: 50px;
  }
}

.banner-single {
  position: relative;
  z-index: 2;
  @include responsive(xxl) {
    padding-right: 50px;
  }
  @include responsive(xl) {
    padding-right: 40px;
  }
  @include responsive(lg) {
    padding-right: 30px;
  }
  @include responsive(allPhone) {
    padding-right: 0px;
  }

  &-one {
    &.percent-padding {
      padding-left: 33%;
      @include responsive(xxl) {
        padding-left: 13%;
      }
      @include responsive(xl) {
        padding-left: 10%;
      }
      @include responsive(lg) {
        padding-left: 5%;
      }
      @include responsive(allPhone) {
        padding-left: 30px;
      }
      @include responsive(xs) {
        padding-left: 20px;
      }
      @include responsive(vxxs) {
        padding-left: 10px;
      }
    }
  }

  &-content {
    padding: 100px 0;
    position: relative;
    z-index: 5;
    @include responsive(allPhone) {
      padding: 30px 0 0px 0px;
    }

    &.text-white {
      .banner-single {
        &-content {
          &-title {
            color: $white;
          }

          &-para {
            color: $white;
          }

          &-reviews {
            &-para {
              color: $white;

              span {
                color: $white;
              }
            }
          }
        }
      }
    }

    &-reviews {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      background-color: rgba($black, .2);
      border-radius: 5px;

      &-icon {
        color: var(--secondary-color);
      }

      &-para {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--paragraph-color);

        span {
          display: inline-block;
        }
      }
    }

    &-title {
      font-size: 64px;
      line-height: 74px;
      margin: -12px 0 0;
      position: relative;
      @include responsive(xxl) {
        font-size: 55px;
        line-height: 70px;
      }
      @include responsive(xl) {
        font-size: 48px;
        line-height: 65px;
      }
      @include responsive(lg) {
        font-size: 42px;
        line-height: 55px;
      }
      @include responsive(allPhone) {
        font-size: 32px;
        line-height: 1.2;
      }
      @include responsive(xs) {
        font-size: 28px;
      }
      @include responsive(vxxs) {
        font-size: 26px;
      }

      &:hover {
        color: var(--main-color-one);
      }

      &-shape {
        position: relative;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          height: 100%;
          width: 100%;
          background-image: url(../img/section-shapes2.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          z-index: -1;
          @include responsive(lg) {
            top: 30px;
          }
          @include responsive(allPhone) {
            top: 25px;
          }
          @include responsive(xxs) {
            top: 20px;
          }
          @include responsive(vxxs) {
            top: 15px;
          }
        }

        &.star-shape {
          position: relative;
          z-index: 2;

          &::before {
            background-image: url(../img/banner/star-shape.svg);
            top: 20px;
            left: auto;
            right: -40%;
          }
        }
      }
    }

    &-para {
      font-size: 16px;
      color: var(--light-color);
      font-weight: 400;
      line-height: 28px;
      @include responsive(xxs) {
        font-size: 16px;
        line-height: 26px;
      }
      @include responsive(vxxs) {
        font-size: 15px;
      }
    }
  }
}

.banner-right-bg {
  height: 670px;
  width: 47%;
  text-align: right;
  margin-left: auto;
  @include responsive(allPhone) {
    width: 100%;
    height: 500px;
  }
  @include responsive(sm) {
    height: 400px;
  }
  @include responsive(xs) {
    height: 300px;
  }
  @include responsive(xxs) {
    height: 260px;
  }
  @include responsive(vxxs) {
    height: 220px;
  }
}

.banner-right-new {
  height: 670px;
  width: 180%;
}


/* Banner Two Css */

.banner-area-two {
  padding-top: 140px;
}

.banner-shapes {
  img {
    position: absolute;

    &:nth-child(1) {
      left: 10px;
      top: 0;
    }

    &:nth-child(2) {
      right: 10px;
      top: 0;
    }
  }
}

.banner-bg {
  background: var(--gradient-circle)
}

.banner-area-flex {
  @include flexBetween;
  gap: 25px;
  @include responsive(allPhone) {
    flex-direction: column;
  }

  .banner-single-content {
    flex: 1;
  }
}

.banner-thumb-wrap {
  position: relative;
  z-index: 2;
}

.banner-area-thumb {
  @include responsive(xl) {
    max-width: 500px;
  }
  @include responsive(lg) {
    max-width: 400px;
  }
}

.banner-thumb-shape {
  img {
    position: absolute;

    &:nth-child(1) {
      right: 0;
      top: 0;
    }

    &:nth-child(2) {
      right: -100px;
      bottom: 130px;
    }

    &:nth-child(3) {
      left: -50px;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}


/* Banner Three Css */

.banner-area-three {
  padding-top: 140px;

  .banner-area-flex {
    flex-direction: column;
    gap: 50px;
  }

  .banner-single-content {
    text-align: center;
    padding: 0;
    max-width: 850px;
    margin: auto;
  }
}


/* Custom scroll bar */

.dfddfdd {
  max-height: 400px;
  overflow-y: auto;
}

.dfddfdd {
  overflow-y: scroll;
  scrollbar-color: #0A4C95 transparent;
  scrollbar-width: 5px;
  -ms-overflow-style: none;
  -moz-appearance: none !important;
  scrollbar-width: thin;
}

.dfddfdd::-moz-scrollbar {
  width: 5px;
  border: none;
}

.dfddfdd::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border: none;
}

.dfddfdd::-webkit-scrollbar-track-piece {
  background-color: #C2D2E4;
}

.dfddfdd::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #0A4C95;
}